


<div class="page">
    <ul class="pagination w-75">

    </ul>
</div>

<p class="count d-none"><%= count %></p>
<p class="currentPage d-none"><%= currentPage %></p>
<script src="/js/pagebar.js"></script>