<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>
<body>
    <%- include('header.ejs')  %> 
    <%- include('nav.ejs')  %> 
    <div class="form">
        <form action="/reg" method="POST" class="reg-form">
            <div class="username">
                <div><label for="username" >Username</label></div>
                <div> <input type="text" name="username" placeholder='min length 5' id="username"></div>
            </div>
            
            <div class="email">
                <div><label for="email">Email</label></div>
                <div><input type="email" name="email" placeholder='a valid email' id="email"></div>
            </div>

            
            
            <div class="password">
                <div><label for="password">Password</label></div>
                <div><input type="password" name="password" placeholder='min length 8' id="password"></div>
            </div>

            <div class="errorMessage">
                <% if (msg.length > 0) { %>
                    <%= msg %> 
                <% } %>
            </div>
            
            <div class="submit-button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
    
</body>
</html>